html{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
}
h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: capitalize;
p{
    color: white;
    font-size : large

}
img{
    border: 5px solid white;
    width: 100%;
}
